bin/
obj/
packages/
*.suo
*.user
*.orig
/WpfStarter
\.vs/
.cr/Settings.xml
*.ncrunchproject
*.ncrunchsolution
_NCrunch_Client/*
/.vs
*.nugetreferenceswitcher
*.refactorlog
*.cache
*.log
*.bak
/UpgradeLog.htm
*.jfm
/.cr/*
*.old
*.Local.config
appsettings.Debug.json
/_NCrunch_Server/*
*.Local.сonfig
*.Debug.config
*.Debug.json